#navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: aqua;
}
.nav-element {
    background-color: red;
    margin: 10px;
    margin-top: 5px;
    padding: 5px;
}
#nav-left {
    position: absolute;
    left: 0px;
}
#nav-right {
    position: absolute;
    right: 0px;
}
#logo {
    
}